body{
   background-color: white;
}

.hann-label{
   background-color: #8b8b8b;
   height: 750px;
   width: 1500px;
   left: 10%;

   position: relative;
   border: 5px solid #383838 ;
   display: flex;}

.pole{
   background-color: #585858;
   height: 600px;
   width: 20px;
   border-radius: 50% 50% 0% 0%;
   margin-left: 245px;
   margin-top: 142px;
   position: absolute; }

.pole-label{
   width: 500px;
   display:flex;
   display:grid;
   padding-bottom:50px;
}
.ring{
   height: 65px;
   /*margin-top: 670px;
   margin-left: 40%;*/
   border-radius: 30px;
   z-index: 1;
   margin-left: auto;
   margin-right: auto;
   border: 3px solid #444444 ;
   }

.ring:hover{
      filter: brightness(150%);
   }


/*.red{
   width: 96px;
   background-color: #c40404;
   margin-top: 508px;
   margin-left: 210px ;

}
.orange{
   width: 154px;
   background-color: #ffa500;
   margin-top: 490px;
   margin-left: 183px ;
} */
.sector{
   height: 60px;

   vertical-align: middle;
   position: relative;
}

.sectorsAdd{
   padding-top: 250px;
   display:grid;
   grid-template-columns: repeat(1, 500px) ;
   grid-template-rows: repeat(7, 70px);
   height: 750px;
}
.button{
   height: 70px;
   width: 200px;
   background-color: #585858;
   border-radius: 10px;
   text-align: center;
   margin-left: 15%;
   margin-top: 91px;
   cursor: pointer;
}
.res{
   padding-top: 8px;
   font-size: 50px;
   font-style: normal;
   color: #ffffff;
}
.button:active{
   filter: brightness(150%);
}
.lable_out{
   height: 70px;
   width: 70px;
   background-color: #585858;
   position: absolute;
   text-align: center;
   border-radius: 10px;
   top: 91px;
   margin-left: 10%;
}
.out{
   font-size: 50px;
   font-style: normal;
   color: #ffffff;
   padding-top: 8px;
}